APP_NAME=ProofLine
DATABASE_URL=sqlite:///./proofline.db
GITHUB_API_URL=https://api.github.com
GITHUB_TOKEN=YOUR_GITHUB_TOKEN_HERE


#  LLM 
LLM_ENABLED=true
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY_HERE
OPENROUTER_MODEL=openai/gpt-4o-mini  # choose model you want to use 
OPENROUTER_API_URL=https://openrouter.ai/api/v1
OPENROUTER_REFERER=http://localhost:3000
OPENROUTER_TITLE=ProofLine
